:root {
  --background-color: #e0e0e0;
  --background-color-dark: #aeaeae;
  --component-background-color: #ffffff;
  --action-background-color: rgba(0,0,0,0.12);
  --font-color: #000000;
  --button-elevation: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
  --body-padding-bottom: 15px;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: calc(100% - var(--body-padding-bottom));
  padding-bottom: var(--body-padding-bottom);
  font: 14px Helvetica, Arial, sans-serif;
  margin: 0 auto;
  background: var(--background-color);
  color: var(--font-color);
}

h1 {
  margin: 0;
  font-size: 3em;
}

body > header, main {
  max-width: 70em;
  margin: 0 auto;
}

body > footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 5px;
}

article {
  margin: 1em 0;
  padding: 1em 0;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
  background-color: var(--component-background-color);
}

article:hover {
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px rgba(0,0,0,0.30);
}

article > * {
  padding: 0 1em;
}

article p {
  padding: 1em;
  border-top: 1px solid var(--background-color);
  border-bottom: 1px solid var(--background-color);
  word-wrap: break-word;
}

article h2 {
  margin: 0;
}

article a {
  display: inline-block;
  background: none;
  box-shadow: none;
}

.button-group {
  padding: 10px 0;
  margin: 10px 0 0 0;
}

a, button {
  border: none;
  padding: 8px 16px;
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  background: var(--component-background-color);
  box-shadow: var(--button-elevation);
  color: var(--font-color);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
}

a:hover, button:hover {
  background: var(--action-background-color);
}

a.asc:after, a.desc:after {
  vertical-align: middle;
}

a.asc:after  {
  font-family: "Material Icons"; content: "keyboard_arrow_down";
}

a.desc:after  {
  font-family: "Material Icons"; content: "keyboard_arrow_up";
}

.abort {
  background: #c0392b;
  color: white;
}

.abort:hover {
  background: #890001;
}

.create {
  background: #74b566;
  color: white;
}

.create:hover {
  background: #5c9a4a;
}

input, textarea {
  font: inherit;
  width: 100%;
  padding: 5px 4px;
  margin: 8px 0;
  color: #000;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  min-height: 7em;
  max-height: 20vh;
}

input[type=checkbox] {
  width: auto;
  margin: 0 4px 0 0;
  zoom: 1.5;
  cursor: pointer;
}

.empty-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.empty-box i {
  font-size: 200px;
  color: var(--background-color-dark);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0.8em -0.2em;
}

.menu-item {
  margin: 0.2em;
  flex-grow: 1;
}

@media (min-width: 30em) {
  .menu {
    flex-direction: row;
  }
}

@media (min-width: 48em) {
  .menu-item {
    flex-grow: 0;
  }
  .menu-item:last-child {
    margin-left: auto;
  }
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-items-center {
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.label {
  margin: auto 0;
  width: 15%;
  min-width: 100px;
}

.input {
  width: 85%;
  flex-grow: 1;
}
